repos:
    -   repo: https://github.com/astral-sh/ruff-pre-commit
        rev: v0.11.6
        hooks:
            -   id: ruff # ruff linter 실행
                args: [ --fix ]
            -   id: ruff-format # ruff formatter 실행

    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v4.5.0
        hooks:
            -   id: trailing-whitespace
            -   id: end-of-file-fixer
            -   id: check-yaml
